<mat-toolbar class="header">
  <button mat-icon-button>
    <mat-icon class="header-icon">menu</mat-icon>
  </button>

  <span>
    <span class="dot ml-3">A</span>
    Material
  </span>

  <span class="spacer"></span>

  <div class="search-bar">
    <input placeholder="Search" matInput class="search-input">
    <button mat-icon-button>
      <mat-icon class="search-icon">search</mat-icon>
    </button>
  </div>

  <span class="spacer"></span>

  <div class="header-btn-group">
    <button mat-icon-button>
      <mat-icon matBadge="5" matBadgeColor="warn" class="header-icon">email</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon matBadge="11" matBadgeColor="warn" class="header-icon">notifications_active</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="header-icon textCenter">account_circle</mat-icon>
    </button>
  </div>

  <button mat-icon-button class="more-btn">
    <mat-icon class="header-icon" >more_vert</mat-icon>
  </button>
</mat-toolbar>
