<div class="mobile-menu">
  <button mat-button class="btn">
    <mat-icon matBadge="5" matBadgeColor="warn" class="header-icon">email</mat-icon>
    <span class="menu-text">Messages</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-button class="btn">
    <mat-icon matBadge="11" matBadgeColor="warn" class="header-icon">notifications_active</mat-icon>
    <span class="menu-text">Notifications</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-button class="btn">
    <mat-icon class="header-icon textCenter">account_circle</mat-icon>
    <span class="menu-text">Profile</span>
  </button>
</div>