.mobile-menu {
  position: absolute;
  right: 0;
  width: 25%;
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

@media (max-width: 960px){
  .mobile-menu {
    width: 60%;
  }
}

.btn {
  width: 100%;
  padding: 5px;
}

.menu-text {
  margin-left: 18px;
}