<mat-toolbar class="nav">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <span>
    <span class="dot">A</span>
    Material
  </span>

  <span class="spacer"></span>

  <div class="search-bar">
    <input placeholder="Search" matInput class="nav-text search-input">
    <button mat-icon-button>
      <mat-icon class="search-icon">search</mat-icon>
    </button>
  </div>

  <span class="spacer"></span>

  <div class="nav-btn-group">
    <button mat-icon-button>
      <mat-icon matBadge="5" matBadgeColor="warn" class="icon">email</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon matBadge="11" matBadgeColor="warn" class="icon">notifications_active</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="icon">account_circle</mat-icon>
    </button>
  </div>

  <button mat-icon-button class="nav-icon more-btn">
    <mat-icon class="icon" >more_vert</mat-icon>
  </button>
</mat-toolbar>
